<div class="container">
  <div class="row">
    <div class="col-md-12 mt-2">
      <div class="card">
        <div class="card-header">
          Add User
        </div>
        <div class="card-body">
          <form class="theme-form" [formGroup]="userRegistration">
            <div class="row">
              <div class="form-group col-sm-12">
                <label class="col-form-label pt-0" for="username">Full Name</label>
                <input class="form-control" autocomplete="nofill" id="username" formControlName="username" type="text"
                  aria-describedby="username" placeholder="Enter Full Name">
              </div>
              <div class="form-group col-sm-12">
                <label class="col-form-label pt-0" for="email">Email</label>
                <input class="form-control" autocomplete="nofill" id="email" formControlName="email" type="email"
                  aria-describedby="email" placeholder="Enter Email">
              </div>
              <div class="form-group col-sm-12">
                <label class="col-form-label pt-0" for="password">Password</label>
                <input class="form-control" autocomplete="nofill" id="password" formControlName="password" type="password"
                  aria-describedby="password" placeholder="Enter Password">
              </div>
              <div class="form-group col-sm-12">
                <label class="col-form-label pt-0" for="address">Address</label>
                <input class="form-control" autocomplete="nofill" id="address" formControlName="address" type="address"
                  aria-describedby="address" placeholder="Enter Address">
              </div>
              <div class="form-group col-sm-12">
                <label class="col-form-label pt-0" for="phone">Phone</label>
                <input class="form-control" autocomplete="nofill" id="phone" formControlName="phone" type="phone"
                  aria-describedby="phone" placeholder="Enter Phone">
              </div>
            </div>
          </form>
        </div>
        <div class="card-footer">
          <button class="btn btn-primary" [disabled]="this.userRegistration">save</button>
        </div>
      </div>
    </div>
    <div class="col-md-12 mt-2">
      <div class="card">
        <div class="card-header">
          User List
        </div>
        <div class="card-body">
          <table class="table table-light">
            <thead class="thead-light">
              <tr>
                <th>#</th>
                <th>Name</th>
                <th>Email</th>
                <th>Address</th>
                <th>Phone</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
